{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            E Commerce Site
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block head %}
    {% endblock head%}
</head>
<body>

    {% include 'partials/navbar.html' %}

    <main>
        {% block content %}
        {% endblock content%}
    </main>

    {% include 'partials/footer.html' %}
    
</body>
</html>